# My Jupyter Notebook on IBM Watson Studio

## My Name is Omran 
i Willing to work as a Data Analyst

 I am interested in data science because I believe that understanding the data of any institution, company, organization, or even society and in any context makes us able to plan and respond more flexibly.

The following code will give me the product of two numbers

In [25]:
x=100
y=66

var1 = (x * y)

In [26]:
print (var1)

6600

<body>

<h2>My Study List</h2>

<ul>
  <li>Food consuption Score</li>
  <li>JIAF Frame work</li>
  <li>IPC Frame work</li>
</ul>  

<h2>Topics to Read</h2>

<ol>
  <li>Coping strategy index</li>
  <li>Vulnerability Scoring Model</li>
  <li>UNICEF SAVVY Agora </li>
</ol> 

</body>



<body>

<h2>Customers Table</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Country</th>
    <th>Phone Number</th>
  </tr>
  <tr>
    <td>Hamzeh</td>
    <td>Syria</td>
    <td>+963 904 7842577</td>
  </tr>
  <tr>
    <td>Leen</td>
    <td>Lebanon</td>
    <td>+961 965 96345112</td>
  </tr>


  <tr>
    <td>Augusto</td>
    <td>Italy</td>
    <td>+945 2231 5123</td>
  </tr>
</table>